
#
# MexPost
# @macarthuror - github.com/macarthuror
#

#
# Variables de entorno
#
.env
.env.local
.env.production.local
.env.development.local

#
# Dependencies and AdonisJS build
#
node_modules
build
tmp

#
# Compilados
#
dist
dist/**
.map

#
# Debug
#
*.log
npm-debug.log

#
# Documentación
#
apidoc
docs/.vitepress

#
# Frontend assets compiled code
#
public/assets

#
# Build tools specific
#
npm-debug.log
yarn-error.log
